#container {
    display: flex;
    border: 1px solid #e6e5e5;
    border-bottom: none;
    justify-content: center;
    width: 300px;
    height: auto;
    margin: auto;
    flex-flow: row wrap;
    border-radius: 10px;
    padding: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.box {
    border : 1px solid  #acacac;
    margin: 5px;
    padding:5px;
    border-radius: 50px;
    width: 20px;
    text-align: center;
}

.controls {
    flexht;
   
}

button {
    
    color: white;
    padding: 10px;
    background-color: royalblue;
    border: none;
}

.image {
    background-size: cover;
    text-align: center;
    font-size: 24px;
    padding: 40px;
    display: inline-block;
    font-family: sans-serif;
    cursor: default;
}

.container-controls {
    background-color: #e9da04;
    border: 1px solid #fff350;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    align-items: flex-end;
    justify-content: space-between;
}

.random {
    height: 40px;
    cursor: pointer;
}

.trash-btn {
    height: 40px;
    cursor: pointer;
    fill: #535353;
}

.deactivate {
    fill:  rgba(180, 180, 180, 0.644)
}